<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		//= includes/head.html
	</head>
	<body>
		<div class="page-main">
			<header>
				<div class="header">
					<a href="#" class="header__logo"></a>
					<ul class="header-list">
						<li class="header-list__item active"><a href="#" class="header-list__link">Home</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">About</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Contents</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Books</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Education</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Skills</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Portfolio</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Clients</a></li>
						<li class="header-list__item"><a href="#" class="header-list__link">Contact</a></li>
					</ul>
				</div>
			</header>

			<div class="wrap">
				<div class="block-book">
					<div class="block-book-demo">
						<h2 class="block-book-demo__author">
							Good book
							<span>Don’t judge a book by its cover</span>
						</h2>
						<p>- By Emma Anderson</p>
					</div>
					<div class="block-text">
						<p class="block-text__name">-By Emma Anderson</p>
						<h1 class="block-text__title">BUKEE: THE BOOK
							<span>A room without books is like a body without a soul</span>
						</h1>
						<p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<a href="#" class="block-text__btn">Buy this book - $15.00</a>
						<small class="block-text__small">* Some conditions may applicable</small>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="block-carusel">
					<div>
						<div class="block-carusel-ava">
							<div class="block-carusel-thumb">
								<img src="../img/feedback.png" alt="">
							</div>
							<div class="block-carusel-bg">
								
							</div>
						</div>
						<h3>Kate Dennings</h3>
						<p class="block-carusel__expert">Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div>
						<div class="block-carusel-ava">
							<div class="block-carusel-thumb">
								<img src="../img/feedback.png" alt="">
							</div>
							<div class="block-carusel-bg">
								
							</div>
						</div>
						<h3>Kate Dennings</h3>
						<p class="block-carusel__expert">Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div>
						<div class="block-carusel-ava">
							<div class="block-carusel-thumb">
								<img src="../img/feedback.png" alt="">
							</div>
							<div class="block-carusel-bg">
								
							</div>
						</div>
						<h3>Kate Dennings</h3>
						<p class="block-carusel__expert">Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="book-author">					
					<div class="block-text">
						<p class="block-text__name block-text__name_top">- Book Author</p>
						<h2 class="block-text__title">Emma Anderson
							<span>A room without books is like a body without a soul</span>
						</h2>
						<p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<a href="#" class="block-text__btn">Read full biography</a>				
					</div>
					<div class="block-ava">
						<svg class="block-ava__svg" width='435' height='558'>
							<linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="435" y1="558" x2="0" y2="0">				
									<stop  offset="0" style="stop-color:#59C2AE"/>
									<stop  offset="1" style="stop-color:#446A87"/>
							</linearGradient>
							<rect width='435' height='558' x="0" y="0" fill="url(#gradient)"></rect>
						</svg>
						<img class="block-ava__img"src="../img/Avatar.png">
					</div>
				</div>
				<div class="block-counter">			
					<p class="block-counter__paragraph"><span>12</span>Total published books</p>	
					<p class="block-counter__paragraph"><span>5</span>Happy readers</p>	
					<p class="block-counter__paragraph"><span>15,000</span>Happy readers</p>			
				</div>
			</div>
		</div>
		<div class="page page_gray">
			<div class="wrap">
				<h2 class="page__title">Book Contents</h2>
				<p class="page__subtitle">Let’s see what we have covered in the book</p>
				<div class="block-about">
					<div class="block-about__text">
						<h3>About the book</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur. </p>
						<div class="block-about__featured">
							<p>Featured in:</p>
							<ul class="block-about__featured_list">
								<li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
								<li><a href="#"><i class="fab fa-amazon"></i></a></li>
								<li><a href="#"><i class="fab fa-sass"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="block-about__table">
						<h3>Table of contents</h3>
						<ol class="block-about__table_list">
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
						</ol>
						<button class="block-about__table_btn">More</button>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="other-book">
					<div class="other-book__name">
						<h2 class="other-book__name_title">
							Other Books
							<span>Some books you might be interested in</span>
						</h2>
					</div>
					<div class="other-book__conteiner">
						<div class="books">
							<div class="books__demo">
								<h2 class="books__demo_author">
									Inception
									<span>Books are the best friends</span>
								</h2>
								<p>- By Emma Anderson</p>
							</div>
							<div class="books__demo_text">
								<h3>Inception</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
								<a href="#">read more</a>
							</div>
						</div>
						<div class="books">
							<div class="books__demo">
								<h2 class="books__demo_author">
									Inception
									<span>Books are the best friends</span>
								</h2>
								<p>- By Emma Anderson</p>
							</div>
							<div class="books__demo_text">
								<h3>Inception</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
								<a href="#">read more</a>
							</div>
						</div>						
						<div class="books">
							<div class="books__demo">
								<h2 class="books__demo_author">
									Inception
									<span>Books are the best friends</span>
								</h2>
								<p>- By Emma Anderson</p>
							</div>
							<div class="books__demo_text">
								<h3>Inception</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
								<a href="#">read more</a>
							</div>							
						</div>												
					</div>	
					<a href="#" class="other-book__btn">Browse all books</a>					
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="book-author">	
					<div class="block-ava">
						<svg class="block-ava__svg block-ava__svg--left" width='435' height='705'>
							<linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="435" y1="705" x2="0" y2="0">				
								<stop  offset="0" style="stop-color:#59C2AE"/>
								<stop  offset="1" style="stop-color:#446A87"/>
							</linearGradient>
							<rect width='435' height='705' x="0" y="0" fill="url(#gradient)"></rect>
						</svg>
						<img class="block-ava__img block-ava__img--left"src="../img/Avatar3.png">
					</div>				
					<div class="block-text block-text--left">
						<p class="block-text__name block-text__name_top block-text__name_top--left">- Emma Anderson</p>
						<h2 class="block-text__title block-text__title--left">Upcoming Events
							<span>Some upcoming events you might be interested in</span>
						</h2>
						<p>November 21, 2018</p>
						<h3 class="block-text__litle_title">Book signing - San francisco, CA</h3>
						<p class="block-text__description block-text__description--left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						<a href="#" class="block-text__btn block-text__btn--left">Register</a>
						<p>November 21, 2018</p>
						<h3 class="block-text__litle_title">Book signing - San francisco, CA</h3>
						<p class="block-text__description block-text__description--left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						<a href="#" class="block-text__btn block-text__btn--left">Register</a>
					</div>					
				</div>				
			</div>
		</div>
		<div class="page page_gray">
			<div class="wrap">
				<div class="block-blog">
					<h2 class="block-blog__title">
						Latest from Blog
						<span>Some of the latest posts from my personal blog</span>
					</h2>
					<div class="block-blog__conteiner">
						<div class="block-blog__conteiner-post">
							<div class="block-blog__conteiner-post-img">
								<img src="../img/post1.jpg" alt="">
							</div>
							<h4>Importance of light in photography</h4>
							<a>By <span>Emma Anderson - June 20, 2018</span></a>
							<p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
						</div>
						<div class="block-blog__conteiner-post">
							<div class="block-blog__conteiner-post-img">
								<img src="../img/post2.jpg" alt="">
							</div>
							<h4>Importance of light in photography</h4>
							<a>By <span>Emma Anderson - June 20, 2018</span></a>
							<p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
						</div>
						<div class="block-blog__conteiner-post">
							<div class="block-blog__conteiner-post-img">
								<img src="../img/post3.jpg" alt="">
							</div>
							<h4>Importance of light in photography</h4>
							<a>By <span>Emma Anderson - June 20, 2018</span></a>
							<p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
						</div>
					</div>
					<a href="#" class="block-blog__btn">Read more in the blog</a>					
				</div>
			</div>
		</div>
		<div class="page">
			<div class="wrap">
				<div class="block-subscrible">
					<div class="block-subscrible-item">
						<div class="block-subscrible__text">
							<h2 class="block-subscrible__text-title">
								Join Newsletter
							</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
						</div>
					</div>
					<div class="block-subscrible-item">
						<input class="block-subscrible__input" type="text" placeholder="Enter your email">
						<button class="block-subscrible__btn">Subscribe</button>				
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer">
				<div class="wrap">
					<div class="block-footer">
						<div class="block-footer__logo">
							<svg  width="137" height="28"><text x="88" y="23" font-size="28" text-anchor="middle" fill="#fefefe" font-family="Roboto Slab" font-weight="700">BUK<tspan fill="#65e496">EE</tspan></text><g data-name="logo icon" fill-rule="evenodd"><path data-name="Rectangle 10 copy 3" d="M28 28L0 0h28v28z" fill="#65e496"/><path d="M28 0L0 28V0h28z" fill="#80809b"/></g></svg>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>© 2018 Bukee Private Limited.</p>
						</div>
						<div>
							<h2 class="block-footer__title">Useful Links</h2>
							<ul class="block-footer__list">
								<li>About Bukee</li>
								<li>Explore Our Ecosystem</li>
								<li>Monthly Community Meetup</li>
								<li>Privacy Policy</li>
							</ul> 
						</div>
						<div>
							<h2 class="block-footer__title">Our Contacts</h2>
							<ul class="block-footer__list">
								<li>Amphitheatre Parkway, CA, 94043</li>
								<li>Call us on: +4455663322</li>
								<li>Email: support@bukee.mail</li>
							</ul>
							<ul class="block-footer__social">
								<li><a href="http://"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="http://"><i class="fab fa-twitter"></i></a></li>
								<li><a href="http://"><i class="fab fa-twitch"></i></a></li>
								<li><a href="http://"><i class="fab fa-youtube"></i></a></li>
								<li><a href="http://"><i class="fab fa-slack-hash"></i></a></li>
								<li><a href="http://"><i class="fab fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script>
			$(document).ready(function(){
			$('.block-carusel').slick({
				dots: true,
				arrows: false
			});
			});
		</script>
	</body>
</html>